<div class="container">
  <div class="card" style="width: 20rem; ">
    <img
      class="card-img-top"
      [src]="images[currentPage].url"
      alt="Card image cap"
    />
    <div class="card-body">
      <p class="card-text text-center ">{{ images[currentPage].title }}</p>
    </div>
  </div>
</div>
<nav>
  <ul class="pagination d-flex justify-content-center">
    <li class="page-item" [ngClass]="{ disabled: currentPage === 0 }">
      <a (click)="currentPage = currentPage - 1" class="page-link">Prev</a>
    </li>

   <ng-container  *ngFor="let image of images; let i = index">
    <li
    class="page-item"
    [ngClass]="{ active: i === currentPage }"
    *ngIf="checkIndexWindow(i)"
  >
    <a (click)="currentPage = i" class="page-link">{{ i + 1 }}</a>
  </li>
   </ng-container>
   


    <li
      class="page-item"
      [ngClass]="{ disabled: currentPage === images.length - 1 }"
    >
      <a (click)="currentPage = currentPage + 1" class="page-link">Next</a>
    </li>
  </ul>
</nav>
