<p>list works!</p>

<div class="row">
  <div class="col-md-12">
    <ul class="list">
      <li><a routerLink="fromEvent">fromEvent - Rxjs Operator</a></li>
      <li><a routerLink="interval">Interval & Timer Operator</a></li>
      <li><a routerLink="of-from">of and from</a></li>
      <li><a routerLink="fromEvent">fromEvent</a></li>
      <li><a routerLink="to-array">toArray() & take() uses</a></li>
      <li><a routerLink="pluck">pluck() & map uses</a></li>
      <li><a routerLink="filter">Filter() operator</a></li>
      <li><a routerLink="tap">Tap() operator</a></li>
      <li><a routerLink="switchmap">switchmap() operator</a></li>
    </ul>
  </div>
</div>
