<div class="my-3">
  <h2>Of and From</h2>
</div>


<div class="row">
  <div class="col-md-6">
    <p class="bg-light py-2 px-3 border rounded"> <strong>Data: of('Anup','Shekhar','Raja)</strong></p>
    <hr>
    <ul id="containerId">

    </ul>
  </div>

  <div class="col-md-6">
    <p class="bg-light py-2 px-3 border rounded"> <strong>Data: of(&#123;'Anup','Shekhar','Raja&#125;)</strong></p>
    <hr>
    <ul id="containerId1">
      <li><strong>a: </strong>{{objMsg.a}}</li>
      <li><strong>b: </strong>{{objMsg.b}}</li>
      <li><strong>c: </strong>{{objMsg.c}}</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <p class="bg-light py-2 px-3 border rounded"> <strong>Data: of['Anup','Shekhar','Raja]</strong></p>
    <hr>
    <ul id="containerId3">

    </ul>
  </div>

  <div class="col-md-3">
    <p class="bg-light py-2 px-3 border rounded"> <strong>From - Promise to observable</strong></p>
    <hr>
    <ul id="containerId4">
      
    </ul>
  </div>
  <div class="col-md-3">
    <p class="bg-light py-2 px-3 border rounded"> <strong>From - string to observable</strong></p>
    <hr>
    <ul id="containerId5">
      
    </ul>
  </div>
</div>